* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #eaebeb;
  /* background-color: rgb(57, 112, 151); */
  /* background-color: rgb(186, 73, 73); */
  /* text-align: center; */
  color: #010001;
}

body {
  margin: 15px;

  color: #010001;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
}

#app {
  max-width: 1000px;
  margin: 0 auto;
  /* text-align: center; */
}
